/*criar variáveis css*/

*{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100vh;
    background-color: #DAF0FF;
}

.calculadora__container{
    display: block;
    position: absolute;
    padding: 25px;
    background-color: #17181A;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    width: fit-content;
    height: fit-content;
    box-shadow: 50px 50px 50px #006BB5A1;
}

.calculadora__display{
    height: 100px;
    text-align: right;
    padding: 30% 0 0;
}

.display_calculo{
    color: #818181;
    font-size: 16px;
}

.display_resultado{
    color: #FFFFFF;
    font-weight: 900;
    font-size: 32px;
}

.calculadora__teclado{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
    gap: 8px;
}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    border-radius: 14px;
    margin: 4px;
    padding: 0;
    border: none;
    font-weight: 500;
    font-size: 24px;
    color: #29A8FF;
    background-color: #303136;
}

/*Botes personalizados*/
.pequeno{
    height: 32px;
    font-size: 16px;
}

.cinza_claro{
    background-color: #616161;
    color: #A5A5A5;
}
.mais{
    height: 88px;
    grid-row: 3/5;
    grid-column: 4/5;
    align-self: start;
}

.igual{
    height: 88px;
    grid-row: 4/6;
    grid-column: 4/5;
    align-self: end;
}

.zero{
    width: 124px;
    grid-column: 1 / 3;
}

.azul_escuro{
    background-color: #005DB2;
    color: #339DFF;
}

.azul_claro{
    background-color: #1991FF;
    color: #B2DAFF;
}
